<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114821832-1"></script>
  <script>
  if (document.location.hostname.search("rohangoel.com") !== -1) {
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    // ga('require', 'linkid');
    gtag('config', 'UA-114821832-1');
  }
  </script>
  <meta charset="utf-8">
  {% if page.title == null %}
  <title>{{site.title}}</title>
  {% else %}
  <title>{{ page.title }}</title>
  {% endif %}

  <meta name="description" content="{{ site.title }}. {{ site.author }}. {{ page.description }}">
  <meta name="author" content="{{ site.author }}">

  <meta name="date.created" content="{{ page.date | date: '%Y-%m-%d' }}">
  <meta name="date.available" content="{{ page.date | date: '%Y-%m-%d' }}">

      <!-- Facebook and Twitter integration -->
  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:url" content="https://rohangoel.com/blog"/>
  <meta property="og:site_name" content="MemExp"/>
  <meta property="og:description" content="{{ page.description }}"/>
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:url" content="https://rohangoel.com/blog" />
  <meta name="twitter:card" content="{{ page.description }}" />
  {% if page.image == null %}
  <meta property="og:image" content="https://www.shareicon.net/download/2016/08/31/821514_earth_512x512.png"/>
  <meta name="twitter:image" content="https://www.shareicon.net/download/2016/08/31/821514_earth_512x512.png" />
  {% else %}
  <meta property="og:image" content="{{site.baseurl}}{{page.image}}"/>
  <meta name="twitter:image" content="{{site.baseurl}}{{page.image}}" />
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/skeleton.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/custom.css">

</head>
<body>

  <div class="container">
    <div class="row">
      <div class="twelve columns header">
        <h1>{{ site.title }}</h1>
        <p style="text-align: center;">Memories and Experiences</p>
        <!-- <h2>{{ site.qoute }}</h2> -->
      </div>
    </div>
    <div class="row rownav">
      <ul class="twelve columns nav">
        <li><a href="{{site.baseurl}}/">Home</a></li>
        <li><a href="{{site.baseurl}}/map">Map</a></li>
        <li><a href="{{site.baseurl}}/people">People</a></li>
        <li><a href="https://rohangoel.com" target="_blank">About Me</a></li>
        <!-- <li><a href="mailto:rohangoel0296@gmail.com" target="_blank">Contact Me</a></li> -->
      </ul>
    </div>
  </div>

  {{ content }}

  <div class="container">
    <div class="row rownav" style="margin-top: 0px;">
      <ul class="twelve columns nav">
        <li><a href="{{site.baseurl}}/">Home</a></li>
        <!-- <li><a href="{{site.baseurl}}/people">People</a></li> -->
        <li><a href="https://rohangoel.com" target="_blank">About Me</a></li>
        <li><a href="mailto:rohangoel0296@gmail.com" target="_blank">Contact Me</a></li>
        <!-- <li><a href="{{site.baseurl}}/software/">Software</a></li> -->
      </ul>
    </div>
    <div class="row" style="margin-bottom: 0px;padding-bottom: 30px;">
      <div class="two columns">&nbsp;</div>
      <div class="eight columns" id="contact" style="text-align:center;">
        Made with ❤ by <a href="/">Rohan Goel</a>
        </div>
      <div class="two columns">&nbsp;</div>
    </div>
  </div>
     <div id="fb-root"></div>
   <script>(function(d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) return;
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=1294731970631473";
   fjs.parentNode.insertBefore(js, fjs);
   }(document, "script", "facebook-jssdk"));</script>
</body>

</html>
