---
layout: post
---

{% assign posts = page.my_arr | split: "|" %}

{% assign cover_image = page.image | split: "/" %}
{% assign img_dir = page.image | split: "/" %}

{% for post in posts %}
{% assign postworkingcopy = post %}
{% if post contains "@" %}
{% assign mentions = post | split:"@" %}
{% for mention in mentions %}
    {% if forloop.index > 1 %}
	{% assign cleanmention = mention | strip | split: ' '%}
	{% assign finalmention = cleanmention[0] | remove: ','  | remove: '.' | remove: '!' %}
	{% assign basepeople = "/people#" | escape%}
	{% assign mentionlink = "" | append: "<a href='"| append: site.baseurl | append: basepeople | append: finalmention | append: "' target='_blank'>" | append: finalmention | append: "</a>"%}
	{% assign postworkingcopy = postworkingcopy | replace: finalmention,  mentionlink %}
	{% endif %}
{% endfor %}
{% endif %}
{% assign firstfour = postworkingcopy | slice: 0, 5 %}
{% assign postSpecialChar = postworkingcopy | split: "!!raw!!" %}
{% assign postSpecialChar2 = postworkingcopy | split: "!!GIF!!" %}
	{% if post contains "!!raw!!" %}
		{{ postSpecialChar }}
	{% elsif postworkingcopy contains "!!skip!!" %}
	{% else %}
		{% if postworkingcopy contains "!!GIF!!"%}
			<p id="{{forloop.index}}" class="center"><img src="{{site.baseurl}}/{{img_dir[1]}}/{{img_dir[2]}}/{{img_dir[3]}}/{{forloop.index}}.gif" alt="{{ postSpecialChar2 | slice: 0, 25}}... {{page.title}}. {{site.title}}" title="{{page.title}} - {{site.title}}">{{postSpecialChar2}}</p>
		{% else %}
			<p id="{{forloop.index}}" class="center"><img src="{{site.baseurl}}/{{img_dir[1]}}/{{img_dir[2]}}/{{img_dir[3]}}/{{forloop.index}}.{{page.ext}}" alt="{{ postworkingcopy | slice: 0, 25}}... {{page.title}}. {{site.title}}" title="{{page.title}} - {{site.title}}">{{postworkingcopy}}</p>
		{% endif %}
	{% endif %}
{% endfor %}
<script async src="//www.instagram.com/embed.js"></script>


<!-- http://responsiveslides.com/ -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/responsiveslides.js"></script>
<script>
	$(".rslides").responsiveSlides({
	  auto: true,             // Boolean: Animate automatically, true or false
	  speed: 200,            // Integer: Speed of the transition, in milliseconds
	  timeout: 1000,          // Integer: Time between slide transitions, in milliseconds
	  pager: false,           // Boolean: Show pager, true or false
	  nav: false,             // Boolean: Show navigation, true or false
	  random: false,          // Boolean: Randomize the order of the slides, true or false
	  pause: false,           // Boolean: Pause on hover, true or false
	  pauseControls: true,    // Boolean: Pause when hovering controls, true or false
	  prevText: "Previous",   // String: Text for the "previous" button
	  nextText: "Next",       // String: Text for the "next" button
	  maxwidth: "",           // Integer: Max-width of the slideshow, in pixels
	  navContainer: "",       // Selector: Where controls should be appended to, default is after the 'ul'
	  manualControls: "",     // Selector: Declare custom pager navigation
	  namespace: "rslides",   // String: Change the default namespace used
	  before: function(){},   // Function: Before callback
	  after: function(){}     // Function: After callback
	});
</script>
<style type="text/css">
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0 !important;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
</style>