---
layout: post_layout
---

{% assign posts = page.my_arr | split: "|" %}

{% assign cover_image = page.image | split: "/" %}
{% assign img_dir = page.image | split: "/" %}

{% for post in posts %}
{% assign postworkingcopy = post %}
{% if post contains "@" %}
{% assign mentions = post | split:"@" %}
{% for mention in mentions %}
    {% if forloop.index > 1 %}
	{% assign cleanmention = mention | strip | split: ' '%}
	{% assign finalmention = cleanmention[0] | remove: ','  | remove: '.' | remove: '!' %}
	{% assign basepeople = "/people#" | escape%}
	{% assign mentionlink = "" | append: "<a href='"| append: site.baseurl | append: basepeople | append: finalmention | append: "' target='_blank'>" | append: finalmention | append: "</a>"%}
	{% assign postworkingcopy = postworkingcopy | replace: finalmention,  mentionlink %}
	{% endif %}
{% endfor %}
{% endif %}
{% assign firstfour = postworkingcopy | slice: 0, 5 %}
{% assign postSpecialChar = postworkingcopy | split: "!!raw!!" %}
	{% if post contains "!!raw!!" %}
		{{ postSpecialChar }}
	{% else %}
		<p id="{{forloop.index}}" class="center"><img src="{{site.baseurl}}/{{img_dir[1]}}/{{img_dir[2]}}/{{img_dir[3]}}/{{forloop.index}}.jpg" alt="{{page.title}}. {{site.title}}. Rohan Goel" title="{{page.title}} - {{site.title}}">{{postworkingcopy}}</p>
	<!-- need to slice because alt can have a href also like pileh lagoon in 2019-02-21-phuket post -->
	{% endif %}
{% endfor %}
