---
layout: page
---

<!-- Post Header with Location and Date -->
<div class="post-header">
  <h2 class="post-title">{{ page.title }}</h2>
  
  {% assign splitpage = page.url | split: "/" %}
  <div class="post-meta">
    <div class="post-location">
      <a href="{{site.baseurl}}/map?location={{ page.location | url_encode }}&country={{ page.country | url_encode }}&coordi={{ page.coordi | url_encode }}" target="_blank">
        <i class="fas fa-map-marker-alt"></i> {{ page.location }}, {{ page.country }}
      </a>
    </div>
    <div class="date-slideshow-container">
      <div class="post-date">
        <i class="far fa-calendar-alt"></i> {{ page.date | date: "%B %d, %Y"}}
      </div>
      
      {% if page.layout == 'post' %}
      <div class="slideshow-link">
        {% assign post_name = page.url | split: '/' | last %}
        <a href="{{site.baseurl}}/{{post_name}}/slideshow/" target="_blank">
          <i class="fas fa-play-circle"></i> View as slideshow
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  
  <!-- Post Description -->
  {% if page.description %}
  <div class="post-description">
    {{ page.description }}
  </div>
  {% endif %}
</div>

<!-- Post Content -->
<div class="post-content">
  {{ content }}
</div>
