<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/kenwheeler/slick/master/slick/slick.min.js"/>
<style>
.myimg {
    height:90%;
    display: block;
    margin: 0 auto;
	object-fit: contain;
    width: 100%;
}
body {
	background: black;
	overflow: hidden
}
.text {
	color: white;
	text-align: center;
	height: 9%;
	margin: 5px auto;
	padding: 0 5%;
}
.arrow-holder {
	margin: 10px auto;
	height: 3%;
	text-align:center;
}
.auto-play-carousel{
	height: 95%
}
.cont {
    height:100%;
    display: block;
    margin: 0 auto;
}
</style>
</head>
<body>
</head>
{% assign posts = page.my_arr | split: "|" %}

{% assign cover_image = page.image | split: "/" %}
{% assign img_dir = page.image | split: "/" %}

<div class="arrow-holder">
	<button type="button" class="slick-prev slick-btn">Previous</button>
	{% comment %} <button type="button" class="slick-pauseplay slick-btn">Pause/Play</button> {% endcomment %}
	<button type="button" class="slick-next slick-btn">Next</button>
</div>

<div class="auto-play-carousel">
{% for post in posts %}
{% assign postworkingcopy = post %}
{% if post contains "@" %}
{% assign mentions = post | split:"@" %}
{% for mention in mentions %}
    {% if forloop.index > 1 %}
	{% assign cleanmention = mention | strip | split: ' '%}
	{% assign finalmention = cleanmention[0] | remove: ','  | remove: '.' | remove: '!' %}
	{% assign basepeople = "/people#" | escape%}
	{% assign mentionlink = "" | append: "<a href='"| append: site.baseurl | append: basepeople | append: finalmention | append: "' target='_blank'>" | append: finalmention | append: "</a>"%}
	{% assign postworkingcopy = postworkingcopy | replace: finalmention,  mentionlink %}
	{% endif %}
{% endfor %}
{% endif %}
{% assign firstfour = postworkingcopy | slice: 0, 5 %}
{% assign postSpecialChar = postworkingcopy | split: "!!raw!!" %}
{% assign postSpecialChar2 = postworkingcopy | split: "!!GIF!!" %}
	{% if post contains "!!raw!!" %}
		{% comment %} {{ postSpecialChar }} {% endcomment %}
	{% elsif postworkingcopy contains "!!skip!!" %}
	{% else %}
		{% if postworkingcopy contains "!!GIF!!"%}
			<div class='cont' id="{{forloop.index}}" class="center" style="background: black"><img class="myimg" src="{{site.baseurl}}/{{img_dir[1]}}/{{img_dir[2]}}/{{img_dir[3]}}/{{forloop.index}}.gif" alt="{{ postSpecialChar2 | slice: 0, 25}}... {{page.title}}. {{site.title}}" title="{{page.title}} - {{site.title}}"><div class="text">{{postSpecialChar2}}</div></div>
		{% else %}
			<div class='cont' id="{{forloop.index}}" class="center" style="background: black"><img class="myimg" src="{{site.baseurl}}/{{img_dir[1]}}/{{img_dir[2]}}/{{img_dir[3]}}/{{forloop.index}}.{{page.ext}}" alt="{{ postworkingcopy | slice: 0, 25}}... {{page.title}}. {{site.title}}" title="{{page.title}} - {{site.title}}"><div class="text">{{postworkingcopy}}</div></div>
		{% endif %}
	{% endif %}
{% endfor %}
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
{% comment %} https://kenwheeler.github.io/slick/ {% endcomment %}
    $(document).ready(function(){
      $('.auto-play-carousel').slick({
		infinite: true,
		slidesToShow: 1,
		autoplay: true,
		autoplaySpeed: 3000,
		pauseOnFocus: true,
		pauseOnHover: false,
		arrows: false,
      });

	  $('.slick-next').on('click', function(){
		  $('.auto-play-carousel').slick('slickNext')
	  })

	  $('.slick-prev').on('click', function(){
		  $('.auto-play-carousel').slick('slickPrev')
	  })
    });
</script>
</body>
</html>